ion-view(view-title="<i class='icon ion-android-locate'/>&nbsp<b> MIRO alphaBot Attacker</b>")

    ion-content
           center
               button(id="attack" class="{{act.ui.state}}" on-touch="act.attack()")
               h5 <b>*주의* 버튼을 누를시 공격! *주의*</b> </br></br>"무지무지 아플꺼야"   

                
                