ion-modal-view
    ion-header-bar(class="bar-dark")
    
        h1(class="title")
            i(class="icon ion-code") &nbsp&nbspDeveloper  
            
        button(class="button icon ion-close-round" ng-click="app.closeDev()")
            
    ion-content
        div(class="list")
            a(class="item item-avatar" href="#")
                img(src="img/me.jpg")
                h2 하현수
                p  Node.js, Ionic, Python developer
            a(class="item item-avatar" href="#")
                img(src="img/dage.jpg")
                h2 박민규
                p  Automobiles, RTOS developer             
            a(class="item item-avatar" href="#")
                img(src="img/induk.jpg")
                h2 황인득
                p  Sensor, Robot Algorythm developer
            a(class="item item-avatar" href="#")
                img(src="img/dongen.jpg")
                h2 이동은
                p  Image processing, CV developer
            a(class="item item-avatar" href="#")
                img(src="img/jh.jpg")
                h2 이재훈
                p  Inteligent Robot, Robot Algorythm developer                
        