ion-side-menus(enable-menu-with-back-views="true")
    ion-nav-bar(class="bar-header bar-dark")
             
        ion-nav-buttons(side="right")
            button(class="button button-icon button-clear ion-navicon" menu-toggle="right")
    ion-side-menu-content(drag-content="false")
        
        
        ion-nav-view(name="menuContent")
               
                    
    ion-side-menu(side="right")
        ion-header-bar(class="bar-header bar-dark")
            h1(class="title") Setting
        ion-content
            ion-list
                ion-item(menu-close ng-click="app.openDev()")
                    i(class="icon ion-code") &nbsp&nbspDeveloper   
                ion-item(menu-close ng-click="app.connection()")
                    i(class="icon ion-radio-waves") &nbsp 연결상태확인
       
                div(class="list")
                    div(class="item item-toggle")
                        i(class="icon ion-arrow-move") &nbsp <b>AutoMode</b>
                        label(class="toggle toggle-assertive")
                            input(type="checkbox" ng-checked="{{app.autochecked}}" ng-click="app.autoMode()")
                            div(class="track")
                                div(class="handle")                       
                    div(class="item item-divider") 
                        center Setting
                    div(class="item item-input-inset")
                        i(class="icon ion-android-arrow-dropleft-circle")
                        button(class="button button-clear button-dark") IP
                        label(class="item-input-wrapper")
                            input(id="value0" type="text" placeholder="insert left" value="{{app.data[0]}}")                        
                    div(class="item item-input-inset")
                        i(class="icon ion-android-arrow-dropleft-circle")
                        button(class="button button-clear button-dark") 좌회전
                        label(class="item-input-wrapper")
                            input(id="value1" type="text" placeholder="insert left" value="{{app.data[1]}}")
                    div(class="item item-input-inset")
                        i(class="icon ion-android-arrow-dropright-circle")
                        button(class="button button-clear button-dark") 우회전                           
                        label(class="item-input-wrapper")
                            input(id="value2" type="text" placeholder="insert right" value="{{app.data[2]}}")                            
                    div(class="item item-input-inset")
                        i(class="icon ion-android-arrow-dropdown-circle")
                        button(class="button button-clear button-dark") 후진
                        label(class="item-input-wrapper")
                            input(id="value3" type="text" placeholder="insert back" value="{{app.data[3]}}")                    
                    div(class="item item-input-inset")
                        i(class="icon ion-android-arrow-dropup-circle")
                        button(class="button button-clear button-dark") 전진
                        label(class="item-input-wrapper")
                            input(id="value4" type="text" placeholder="insert forward" value="{{app.data[4]}}")
                    div(class="item item-input-inset")
                        i(class="icon ion-android-hand")
                        button(class="button button-clear button-dark") Catch
                        label(class="item-input-wrapper")
                            input(id="value5" type="text" placeholder="insert catch" value="{{app.data[5]}}")
                    div(class="item item-input-inset")
                        i(class="icon ion-ios-infinite")
                        button(class="button button-clear button-dark") Auto
                        label(class="item-input-wrapper")
                            input(id="value6" type="text" placeholder="insert Auto" value="{{app.data[6]}}")                                  
                    div(class="item item-input-inset")
                        button(ng-click="app.setup()" class="button button-full button-dark") 확인
                                   